
@{
    ViewData["Title"] = "Anasayfa";
}

<section class="site-section">
    <div class="container">
        <h2 class="section-heading"><strong>Nası çalışır?</strong></h2>
        <p class="mb-5">Başlamak için kolay adımlar.</p>

        <div class="row mb-5">
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="step">
                    <span>1</span>
                    <div class="step-inner">
                        <span class="number text-primary">01.</span>
                        <h3>Bir araba seçin</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, laboriosam!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="step">
                    <span>2</span>
                    <div class="step-inner">
                        <span class="number text-primary">02.</span>
                        <h3>Formu doldurun</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, laboriosam!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="step">
                    <span>3</span>
                    <div class="step-inner">
                        <span class="number text-primary">03.</span>
                        <h3>Ödeme</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, laboriosam!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@await Component.InvokeAsync("Showcase")

@section Header
{
    @await Html.PartialAsync("./Partials/_CarouselHeader.cshtml")
}
