<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Car Rental - @ViewData["Title"]</title>
    <link rel="stylesheet" asp-append-version="true" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" asp-append-version="true" href="~/lib/font-awesome/css/all.min.css" />
    <partial name="_Css" />
</head>

<body style="min-height: 100vh !important;">
    @await Html.PartialAsync("./Partials/_Navbar.cshtml")
    @RenderSection("Header", false)
    @RenderBody()


    @await Html.PartialAsync("./Partials/_Footer.cshtml")

    <script asp-append-version="true" src="~/lib/dist/jquery.min.js"></script>
    <script asp-append-version="true" src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script asp-append-version="true" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script asp-append-version="true" src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script asp-append-version="true" src="~/lib/jquery-validate-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
