<div class="my-3">
    <h6 class="lead">
        <i class="fa fa-filter text-primary mx-1"></i>
        <b>Filters</b>
    </h6>
</div>

<div class="my-2">
    <form method="get" asp-action="Index">
        
        <div class="form-group my-2">
            <input type="text" class="form-control" name="SearchTerm" placeholder="Search" />
        </div>
        <div class="btn-group my-2 w-100 ">
            <button type="submit" class="btn btn-sm btn-primary ">Filter</button>
            <a class="btn btn-sm text-center btn-outline-danger" asp-action="Index" asp-controller="Model" > 
                Clear
            </a>
        </div>
    </form>
</div>