<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner ">
    <div class="carousel-item active" data-bs-interval="5000" style="overflow: hidden;">
      <img src="~/images/cr3.jpg"   class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block mb-5">
           
            <h4 class="text-light mb-3 animated bounceInRight" style="animation-delay: 1s;">For Rent $70 Per Day</h4>
            <h1 class="text-light mb-4">Reserve Now and Get 50% Off</h1>
            <button class="btn reserve__btn mt-4">
              <a href="/cars">Reserve Now</a>
            </button>
         
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="~/images/cr4.jpg"  class="d-block w-100 " alt="...">
      <div class="carousel-caption  d-none d-md-block" style="margin-bottom: 20%;">
            <h4 className="text-light mb-3">For Rent $70 Per Day</h4>
            <h1 className="text-light mb-4">Reserve Now and Get 50% Off</h1>

            <button className="btn reserve__btn mt-4">
              <a href="/cars">Reserve Now</a>
            </button>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="~/images/cr2.jpg"  class="d-block w-100" alt="...">
      <div class="carousel-caption mb-5 d-none d-md-block">
            <h4 className="text-light mb-3">For Rent $70 Per Day</h4>
            <h1 className="text-light mb-4">Reserve Now and Get 50% Off</h1>

            <button className="btn reserve__btn mt-4">
              <a href="/cars">Reserve Now</a>
            </button>
      </div>
    </div>
  </div>
  
</div>
