@*<header  >
    <nav class="navbar navbar-expand-sm   navbar-toggleable-sm navbar-dark bg-success border-bottom box-shadow mb-3">
        <div class="container-fluid ">
            <a href="/" class="navbar-brand">Rent A Car</a>
            <button class="navbar-toggler" data-bs-toggle="collapse" type="button" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a href="/home" class="nav-a active">Ana sayfa</a>
                    </li>
                </ul>
                <div class="d-flex w-25 justify-content-around" style="color: #ffffff;">
                   
                </div>
            </div>
        </div>
    </nav>
</header> *@

<header class="header">
      @* {/* ============ header top ============ */} *@
      <div class="header__top">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6" >
              <div class="header__top__left">
                <span>Need Help?</span>
                <span class="header__top__help">
                  <i class="fa fa-phone"></i> +1-202-555-0149
                </span>
              </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="header__top__right d-flex align-items-center justify-content-end gap-3">
                <a to="#" class=" d-flex align-items-center gap-1">
                  <i class="fa fa-sign-in"></i> Login
                </a>

                <a to="#" class=" d-flex align-items-center gap-1">
                  <i class="fa fa-user"></i> Register
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      @* =============== header middle =========== *@
      <div class="header__middle">
        <div>
          <div class="row">
            <div class="col-lg-4 col-md-3 col-sm-4">
              <div class="logo">
                <h1>
                  <a asp-action="Index" asp-controller="Home" class=" d-flex align-items-center gap-2">
                    <i class="fa fa-car"></i>
                    <span>
                      Rent Car <br /> Service
                    </span>
                  </a>
                </h1>
              </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-4" lg="3" md="3" sm="4">
              <div class="header__location d-flex align-items-center gap-2">
                <span>
                  <i class="fa fa-earth-europe"></i>
                </span>
                <div class="header__location-content">
                  <h4>Türkiye</h4>
                  <h6>İstanbul Şehri, Türkiye</h6>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-4" lg="3" md="3" sm="4">
              <div class="header__location d-flex align-items-center gap-2">
                <span>
                  <i class="fa fa-clock"></i>
                </span>
                <div class="header__location-content">
                  <h4>Sunday to Friday</h4>
                  <h6>10am - 7pm</h6>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-0 d-flex align-items-center justify-content-end"
            >
              <button class="header__btn btn ">
                <a to="/contact">
                  <i class="fa fa-phone"></i> Request a call
                </a>
              </button>
            </div>
          </div>
        </div>
      </div>

      @* {/* ========== main navigation =========== */} *@

      <div class="main__navbar">
        <div class="container">
          <div class="navigation__wrapper d-flex align-items-center justify-content-between">
            <span class="mobile__menu">
              <i class="fa fa-bars" ></i>
            </span>

            <div class="navigation">
                <div class="menu">
                    <a href="/" class="nav__item nav__active">Ana sayfa</a>
                    <a href="/" class="nav__item">Hakkımızda</a>
                    <a href="/" class="nav__item">Arabalar</a>
                    <a href="/" class="nav__item">İletişim</a>
                </div>
              @* <div class="menu">
                {navas.map((item, index) => (
                  <Nava
                    to={item.path}
                    class={(navClass) =>
                      navClass.isActive ? "nav__active nav__item" : "nav__item"
                    }
                    key={index}
                  >
                    {item.display}
                  </Nava>
                ))}
              </div> *@
            </div>

            <div class="nav__right">
              <div class="search__box">
                <input type="text" placeholder="Search" />
                <span>
                  <i class="fa fa-magnifying-glass"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>