<div class="row search-car d-flex p-2 justify-content-around">
    <div class="col-md-4 mb-3">
            
            <input type="text" class="form-control"  placeholder="Adres'den">
    </div>
    <div class="col-md-4 mb-3">
         <input type="text" class="form-control" placeholder="Adrese"/>
    </div>
    <div class="col-md-4 mb-3">
        <input type="date" class="form-control"  placeholder="dd/mm/yyyy">
    </div>
    <div class="col-md-4 mb-3">
         <input type="time" class="form-control"  placeholder="--">
    </div>
    <div class="col-md-8 mb-3 ">
        <button class="btn w-100 btn-outline-success">Search</button>
    </div>
</div>
