@model List<Color>
<select  class="form-select form-select-lg mb-3" name="ColorName" aria-label="Large select example">
  <option disabled selected>Renk Şeçiniz</option>
  @foreach(var color in Model)
  {
    <option selected="@(ViewBag.ColorName == color.Name)" value="@color.Name" >@color.Name</option>
  }
</select>