<form method="get" asp-action="Index" asp-controller="Model" class="trip-form">

     <div class="row align-items-center">

          <div class="mb-3 mb-md-0 col-md-3">
                @await Component.InvokeAsync("Brands")
               @* <select name="" id="" class="custom-select form-control">
                    <option value="">Select Type</option>
                    <option value="">Ferrari</option>
                    <option value="">Toyota</option>
                    <option value="">Ford</option>
                    <option value="">Lamborghini</option>
               </select> *@
          </div>
          <div class="mb-3 mb-md-0 col-md-3">
               <div class="form-control-wrap">
                    <input type="date" id="start" class="form-control"  value="@DateTime.UtcNow.ToString("yyyy-MM-dd")" min="@DateTime.UtcNow.AddDays(1).ToString("yyyy-MM-dd")"  />
               </div>
          </div>
          <div class="mb-3 mb-md-0 col-md-3">
               <div class="form-control-wrap">
                    <input type="date" id="start" class="form-control"  value="@DateTime.UtcNow.ToString("yyyy-MM-dd")" min="@DateTime.UtcNow.AddDays(1).ToString("yyyy-MM-dd")"  />
               </div>
          </div>
          <div class="mb-3 mb-md-0 col-md-3">
               <input type="submit" value="Search Now" class="btn btn-primary btn-block py-3">
          </div>
     </div>

</form>