<div class="hero p-0 inner-page" style="background-image: url('images/car_9.jpg'); background-position:center;">
    <div class="opt"></div>
    <div class="container">
        <div class="row align-items-end ">
            <div class="col-lg-5">

                <div class="intro">
                    <h1 class="text-white"><strong>@ViewData["HeaderTitle"]</strong></h1>
                    <div class="custom-breadcrumbs"><a asp-action="Index" asp-controller="Home">Home</a> <span class="mx-2">/</span>
                        <strong>@ViewData["HeaderTitle"]</strong></div>
                </div>

            </div>
        </div>
    </div>
</div>